body {
    background: rgb(8, 163, 137);
    color: rgb(8, 8, 8);
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 40px;
}

table {
    margin-top: 30px
}

.display-none {
    display: none;
}

tbody td {
    text-transform: uppercase;
}